$col-purple-1: #283579;
$col-bleu-2: #0062ff;
$col-mauv: #2b387b;
$col-yellow: #f9db2f;
$col-stat-1: #28c66f;
$col-stat-2: #d3f3e1;
$col-stat-3: #ec5453;
$col-stat-4: #fadcdb;
$col-stat-5: #ffab00;
$col-stat-6: #feedcb;
$col-chart-1: #63e2f1;
$col-chart-2: #e7fafc;
$col-chart-3: #ec5453;
$col-chart-4: #fbe4e4;
$col-chart-6: #def6e8;
$col-red: #cc0000;
$col-gris: #363844;
$gris-btn: #f1f1f5;
$bg-input: #ebf1f7;
$border-input: #b2b2c9;
$text-link: #8081a5;
$h-notif: #565e89;
$bg-content: #fafafb;
$border-card: #e4e4f4;
$text-gris: #92929d;
$bg-flou: #ffffff47;
$green-etat: #28ae3d;
$col-ind-1: #7800d3;
$col-w: #ffffff;
$col-B: #000000;
$col-light: #f5f5f5;
$input: #fafafb;
$text-34: #343434;
$ste-header: #ebecf3;
$detail-profile: #7f93fb; // $border-input: #6259ce;
$dem-rep-header: #edeffd;
$dem-header-span: #333333;
$bg-danger: #ae000c;
$btn-add: #00ae3a;