<div class="container p-5">
  <div class="row">
    <div class="col-6 d-flex">
      <input
        type="text"
        class="form-control mx-2"
        style="width: 300px"
        [(ngModel)]="searchTerm"
        placeholder="Rechercher..."
      />
      <button class="btn btn-secondary mx-2" (click)="filterElement()">
        Search
      </button>
      <button (click)="showDialog()" class="btn btn-warning" label="Show">
        Liste
      </button>
    </div>
  </div>
  <br />
  <div class="card">
    <pv-table
      [dataTable]="fakeData"
      [showTotal]="true"
      [displayedColumns]="displayedColumns"
      [showCheckbox]="true"
    />
    <div class="flex m-2">
      <p-button
        label="Primary"
        icon="pi pi-check"
        class="rounded-full mx-2"
      ></p-button>
      <p-button
        class="rounded-full mx-2"
        label="Primary"
        icon="pi pi-check"
        [rounded]="true"
      ></p-button>
      <p-button
        class="rounded-full mx-2"
        label="Primary"
        icon="pi pi-check"
        [rounded]="true"
      ></p-button>
      <p-button
        class="rounded-full mx-2"
        label="Primary"
        icon="pi pi-check"
        [rounded]="true"
      ></p-button>
      <p-button
        class="rounded-full mx-2"
        label="Primary"
        icon="pi pi-check"
        [rounded]="true"
      ></p-button>
    </div>
  </div>
  <p-dialog
    header="Liste des opérateurs"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
  >
    <div class="card mt-4">
      <pv-table
        [dataTable]="fakeData2"
        [pagination]="true"
        [displayedColumns]="displayedColumnsListe"
      />
    </div>
    <ng-template pTemplate="footer">
      <button class="btn" (click)="visible = false">Fermer</button>
    </ng-template>
  </p-dialog>
</div>
