@import "node_modules/leaflet/dist/leaflet.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap");

@font-face {
  font-family: "Euclid Circular B";
  src: url("./assets/font/euclid-circular-b-cufonfonts/Euclid\ Circular\ B\ Medium.ttf")
    format("truetype");
}
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "Euclid Circular B", sans-serif !important;
}
html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #f18213;
  border-radius: 10px;
}
.pv-project-content {
  min-height: calc(100vh - 116px);
  overflow: auto;
}
.pv-orange-text {
  color: #f18213;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}
.font-bold {
  font-weight: bold;
}
input::placeholder,
textarea::placeholder {
  color: #c8afaf !important; /* Exemple de couleur rouge pour un champ de texte */
}

label {
  margin-bottom: 0.25rem !important;
  font-weight: 500;
  font-size: 1rem !important;
  color: #555;
}

.pv-btn-contact {
  background-color: #f6a30a;
  color: white;
}
.pv-btn-contact:hover {
  background-color: #ec6a0d;
  color: white;
}
.text-center {
  text-align: center;
}

.pv-input-height {
  height: 60px !important;
}
@for $i from 1 through 100 {
  .border-radius-#{$i} {
    border-radius: #{$i}px !important;
  }
}
@for $i from 1 through 100 {
  .fz-#{$i} {
    font-size: #{$i}px !important;
  }
}
